*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-back {
    background-image: url('./Images/bg-header-mobile.svg');
    background-size: cover;
    background-color:hsl(180, 29%, 50%);
    height: 10rem;
}